/* Flexbox Layout */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex: auto;
}

article {
  flex: 2;
  padding: 10px;
  overflow-y: auto;
  background-color: #fff;
  border-right: 1px solid #ccc;
}

aside {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

header, footer {
  padding: 15px;
  background-color: #eee;
  text-align: center;
}